{% load static %}
<body>
    Shopping cart
    <table class="table table-striped" border="1">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Remove </th>
                <th scope="col">Unit price</th>
                <th scope="col">Price</th>
                <th scope="col">Size</th>
                <th scope="col">Temp</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <th scope="row">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.image.url }}" class="img-thumbnail" style="width:30%;height30%;">
                    </a>
                </th>
                <td>{{ product.name }}</td>
                <td>
                    <form action="{% url 'cart:product_add' product.id %}" method="post">
                        {% csrf_token %}
                        {{ item.quantity_form.quantity }}
                        {{ item.quantity_form.is_update }}
                        {{ item.quantity_form.size }}
                        {{ item.quantity_form.temp }}
                        <input type="submit" class="btn btn-primary" value="Update" name="is_update">
                    </form>
                </td>
                <td><a href="{% url 'cart:product_remove' product.id %}">Remove</a></td>
                <td class="num">&#8361;{{ item.price }}</td>
                <td class="num">&#8361;{{ item.total_price }}</td>
                <td>{{ item.size }}</td>
                <td>{{ item.temp }}</td>
            </tr>
            {% endwith %}
        {% endfor %}


        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">&#8361;{{ cart.get_total_price|floatformat:"2" }}</td>
        </tr>
        </tbody>
    </table>

    <p class="text-right">
        <a href="/espresso" class="btn btn-secondary">쇼핑 계속하기</a><br><Br>
        <a href="/chat" class="btn btn-secondary" style="color:#5F04B4;" >채로와 쇼핑 계속하기</a><br><Br>
        <a href="{% url 'order:order_create' %}" class="btn btn-secondary">계산 하기</a>
    </p>
</body>