<!DOCTYPE html>
<html lang="en">
<head>
    <a href="#content" onclick="location.href='base';"
   style='cursor:pointer; font-size: 10px; font-weight: bold; color: indianred; text-shadow: 1px 1px 1.2px yellow;'><span><h1>처음화면으로 돌아가기</h1></span></a>
    <meta charset="UTF-8">
    <title>Cafe Brand Analytics Site</title>
</head>
<body>
<div style="text-align:center">
    <h1>Cafe Brand Analytics Site</h1>
    <br><br><br>
</div>
<div style="text-align:center">
    <iframe src="http://125.133.75.24:33152/app/dashboards#/view/296c84c0-b13a-11ec-b673-21f1de7771ec?embed=true&_g=(filters%3A!())&hide-filter-bar=true" height="900" width="1800"></iframe>
    <br><br><br>
</div>

</body>
</html>