.top-header--transparent {
  background-color: transparent;
}

.profile .profile__header {
  height: 80vh;
  background-image: url("https://i.pinimg.com/736x/30/76/d7/3076d755b60e6298e3f61b831bb77caf--mobile-wallpaper-wallpaper-backgrounds.jpg");
  background-position: center left;
  background-size: 100%;
  width: 100%;
  position: relative;
  top: -60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.profile__header .profile__header-container {
  text-align: center;
  position: relative;
  bottom: -60px;
}

.profile__header-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile .profile__container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__container input {
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.profile__actions {
  display: flex;
}

.profile__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.profile__action-circle {
  background: #f2f2f2;
  padding: 15px;
  border-radius: 50%;
  color: #523737;
  margin-bottom: 15px;
}

.profile__action-title {
  font-size: 12px;
  font-weight: 600;
}
