.search-bar {
  padding: 10px 25px;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 5px 7px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #f1f2f3;
  font-size: 13px;
  text-align: center;
  transition: border-color 0.2s linear;
}

.search-bar input:focus {
  outline: none;
  border-color: #ffe94a;
}

.search-bar i {
  position: absolute;
  top: 15px;
  left: 40px;
  color: #898d91;
}
