<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <title>Chat</title>
  <link rel="stylesheet" href="{%static 'css/style.css' %}">
  <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
</head>
<body class="body-chat">
  <header class="top-header chat-header">
    <div class="header__top">
      <div class="header__column">
        <i class="fas fa-fighter-jet"></i>
        <i class="fas fa-wifi"></i>
      </div>
      <div class="header__column">
        <!--  윗부분 시간 출력    -->
        <span class="header__time"></span>
      </div>
      <div class="header__column">
        <i class="far fa-moon"></i>
        <i class="fab fa-bluetooth-b"></i>
        <span class="header__battery">100* <i class="fas fa-battery-full"></i> </span>
      </div>
    </div>
    <div class="header__bottom">
      <div class="header__column">
        <a href="chats">
          <i class="fas fa-chevron-left fa-lg"></i>
        </a>
      </div>
      <div class="header__column">
        <span class="header__text">채로</span>
      </div>
      <div class="header__column">
        <i class="fas fa-search fa-lg"></i>
        <i class="fas fa-bars fa-lg"></i>
      </div>
    </div>
  </header>
  <main class="chat">
    <div class="date-divider">
      <!--  날짜 출력    -->
      <br><span class="date-divider__text"></span>
    </div>
  </main>
  <div class="type-message">
    <i class="fas fa-plus fa-lg"></i>
    <div class="type-message__input">
        <!-- 텍스트 입력   -->
        {% csrf_token %}
        <input type="text" id="message" width="100%">
      </div>
    <div>
            <i class="fa fa-shopping-cart"></i>
            <a class="nav-link btn btn-outline-success" href="{% url 'cart:detail' %}" > Cart
            </a>
      </div>

  </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script>
/* 날짜 출력 부분 */
$(document).ready(function() {
    let today = new Date();
    let year = today.getFullYear();
    let month = today.getMonth() + 1;
    let date = today.getDate();
    let day = today.getDay();
    let hours = today.getHours();
    let minutes = today.getMinutes();

    if (day === 1) {
        day = '월요일'
    } else if (day === 2) {
        day = '화요일'
    } else if (day === 3) {
        day = '수요일'
    } else if (day === 4) {
        day = '목요일'
    } else if (day === 5) {
        day = '금요일'
    } else if (day === 6) {
        day = '토요일'
    } else if (day === 7) {
        day = '일요일'
    }
    $(".date-divider__text").html(year + '년 ' + month + '월 ' + date + '일, ' + day);
    $(".header__time").html(hours + ':' + minutes);
});

/* 메시지 부분 */
var flag = 0;
$("#message").keydown(function(e) {
    if (e.keyCode === 13) {
        let today = new Date();
        let hours = today.getHours();
        let minutes = today.getMinutes();

        $(".chat").append('<div class="chat__message chat__message-from-me"><span class="chat__message-time">' + hours + ':' + minutes + '</span><span class="chat__message-body">' + $("#message").val() + '</span></div>');

        // 메시지를 비동기로 보내는 곳
        $.ajax({
                url: "/chatbot",
                data: '{"message":"' + $("#message").val() + '"}',
                type: "POST",
                dataType: "json"
            })
            .done(function(json) {
                // 메시지를 받는 곳
                let today = new Date();
                let hours = today.getHours();
                let minutes = today.getMinutes();
                $(".chat").append('<div class="chat__message chat__message-to-me"><img src="/static/images/avatar.jpg" alt="" class="chat__message-avatar"><div class="chat__message-center"><h3 class="chat__message-username">챗봇</h3><span class="chat__message-body">' + json.message + '</span></div><span class="chat__message-time">' + hours + ':' + minutes + '</span></div>');
                // 받을 때 스크롤 맨 밑으로
                if (flag > 1){
                  $(document).scrollTop($(".chat").height());
                }
            });

        // 보낼 때 스크롤 맨 밑으로
        if (flag > 1){
          $(document).scrollTop($(".chat").height());
        }
        flag = flag + 1;
        // 입력창 비우기
        $("#message").val("");
    }
});

</script>
</html>
