<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>Profile</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
<header class="top-header top-header--transparent">
    <div class="header__top">
        <div class="header__column">
            <i class="fas fa-fighter-jet"></i>
            <i class="fas fa-wifi"></i>
        </div>
        <div class="header__column">
            <span class="header__time">18:38</span>
        </div>
        <div class="header__column">
            <i class="far fa-moon"></i>
            <i class="fab fa-bluetooth-b"></i>
            <span class="header__battery">66* <i class="fas fa-battery-full"></i> </span>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__column">
            <a href="index">
                <i class="fas fa-times fa-lg"></i>
            </a>
        </div>
        <div class="header__column">

        </div>
        <div class="header__column">
            <i class="fas fa-user fa-lg"></i>
        </div>
    </div>
</header>
<main class="profile">
    <header class="profile__header">
        <div class="profile__header-container">
            <img src="{%static 'images/me.jpg' %}" alt="">
            <h3 class="profile__header-title">{{ user.u_nickname }}</h3>
        </div>
    </header>
    <div class="profile__container">
        <input type="text" placeholder={{ user.email }} autocomplete="on">
        <div class="profile__actions">
            <div class="profile__action">
          <span class="profile__action-circle">
             <a class="fas fa-comment fa-lg" href="#content" onclick="location.href='http://127.0.0.1:8000/chats';"></a>
          </span>
                <span class="profile__action-title">My Chatroom</span>
            </div>
            <div class="profile__action">
          <span class="profile__action-circle">
            <a class="fas fa-pencil-alt fa-lg" href="#content"
               onclick="location.href='http://127.0.0.1:8000/update';"></a>
          </span>
                <span class="profile__action-title">Edit Profile</span>
            </div>
            <div class="profile__action">
          <span class="profile__action-circle">
            <a class="fas fa-edit fa-lg" href="#content" onclick="location.href='http://127.0.0.1:8000/password';"></a>
          </span>
                <span class="profile__action-title">pw reset</span>
            </div>
        </div>
    </div>
</main>
<!--<div class="bigScreenText">-->
<!--    <span>Please make your screen smaller.</span>-->
</div>
</body>
</html>
