<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <title>Chat</title>
  <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body class="body-chat">
  <header class="top-header chat-header">
    <div class="header__top">
      <div class="header__column">
        <i class="fas fa-fighter-jet"></i>
        <i class="fas fa-wifi"></i>
      </div>
      <div class="header__column">
        <span class="header__time">18:38</span>
      </div>
      <div class="header__column">
        <i class="far fa-moon"></i>
        <i class="fab fa-bluetooth-b"></i>
        <span class="header__battery">66* <i class="fas fa-battery-full"></i> </span>
      </div>
    </div>
    <div class="header__bottom">
      <div class="header__column">
        <a href="chats">
          <i class="fas fa-chevron-left fa-lg"></i>
        </a>
      </div>
      <div class="header__column">
        <span class="header__text">SunMin_Bot</span>
      </div>
      <div class="header__column">
        <i class="fas fa-search fa-lg"></i>
        <i class="fas fa-bars fa-lg"></i>
      </div>
    </div>
  </header>
  <main class="chat">
    <div class="date-divider">
      <span class="date-divider__text">Wednesday, July 25, 2018</span>
    </div>
<!--    오디오 엘리먼트 -->
    <div class="chat__message chat__message-from-me">
      <span class="chat__message-time">04:45</span>
      <span class="chat__message-body">
        <audio controls>녹음된 소리를 재생할 audio 엘리먼트</audio>
      </span>
    </div>
<!--    내 질문 출력 부분 -->
    {% if text %}
    <div class="chat__message chat__message-from-me">
      <span class="chat__message-time">04:45</span>
      <span class="chat__message-body">
        {{text}}
      </span>
    </div>
    {% endif %}
<!--    답변 출력 부분 -->
    {% if answer %}
    <div class="chat__message chat__message-to-me">
      <img src="{%static 'images/bot.jpg' %}" alt="" class="chat__message-avatar">
      <div class="chat__message-center">
        <h3 class="chat__message-username">SunMin_Bot</h3>
        <span class="chat__message-body">
          {{answer}}
        </span>
      </div>
      <span class="chat__message-time">09:30</span>
    </div>
    {% endif %}
  </main>
  <div class="type-message">
    <i class="fas fa-plus fa-lg"></i>
    <div class="type-message__input">
      <form action="/chat" method="get">
        {% csrf_token %}
        <input type="text" name="query" width="100%">
      </form>
      <i class="far fa-smile fa-lg"></i>
      <!--  녹음 버튼    -->
      <button class="record-message" >
        <i class="fas fa-microphone fa-lg"></i>
      </button>
    </div>
  </div>
</body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>


// 엘리먼트 취득
const $audioEl = document.querySelector("audio");
const $btn = document.querySelector("button");

// 녹음중 상태 변수
let isRecording = false;

// MediaRecorder 변수 생성
let mediaRecorder = null;

// 녹음 데이터 저장 배열
const audioArray = [];

$btn.onclick = async function (event) {
    if(!isRecording){

        // 마이크 mediaStream 생성: Promise를 반환하므로 async/await 사용
        const mediaStream = await navigator.mediaDevices.getUserMedia({audio: true});

        // MediaRecorder 생성
        mediaRecorder = new MediaRecorder(mediaStream);

        // 이벤트핸들러: 녹음 데이터 취득 처리
        mediaRecorder.ondataavailable = (event)=>{
            audioArray.push(event.data); // 오디오 데이터가 취득될 때마다 배열에 담아둔다.
        }

        // 이벤트핸들러: 녹음 종료 처리 & 재생하기
        mediaRecorder.onstop = (event)=>{

            // 녹음이 종료되면, 배열에 담긴 오디오 데이터(Blob)들을 합친다: 코덱도 설정해준다.
            const blob = new Blob(audioArray, {"type": "audio/ogg codecs=opus"});
            audioArray.splice(0); // 기존 오디오 데이터들은 모두 비워 초기화한다.

            // Blob 데이터에 접근할 수 있는 주소를 생성한다.
            const blobURL = window.URL.createObjectURL(blob);

            // Blob 데이터를 POST 방식으로 django로 전달.
            $.ajax({
                url: "chat",
                type : 'POST',
                headers: {
                    'X-CSRFTOKEN' : '{{ csrf_token }}'
                },
                data : {'blobURL':blobURL},
                success : function(data){
                    console.log('ajax 성공');
                    $audioEl.src = data.blobURL;
                    $audioEl.play();
                },
                error : function(){
                    console.log('ajax 실패');
                }
            });
            // audio엘리먼트로 재생한다.
        }

        // 녹음 시작
        mediaRecorder.start();
        isRecording = true;

    }else{
        // 녹음 종료
        mediaRecorder.stop();
        isRecording = false;
    }
}
</script>
</html>
