
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<div class="row">
    <div class="col">
        <div class="alert alert-success" role="alert">주문 감사합니다.<br/>
            주문이 성공적으로 완료되었습니다.<br/>
        당신의 주문 번호는 <strong style="font-size:30px;color:orange;">{{order.id}}</strong>입니다.</div>
       <a href="#content" onclick="location.href='/cafe';"
   style='cursor:pointer; font-size: 10px; font-weight: bold; color: Blue; text-shadow: 1px 1px 1.2px yellow;'><span><h1>카페화면으로 돌아가기</h1></span></a>
    </div>
</div>