<!-- 필터를 사용할 수 있게 해준다 -->

<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light" border="1">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">상품명</th>
                    <th scope="col">수량</th>
                    <th scope="col">가격</th>
                    <th scope="col">주문날짜</th>
                    <th scope="col">주문자</th>
                    <th scope="col">전화번호</th>
                </tr>
            </thead>

            <tbody class="text-dark">
                {% for order in order_list %}
                <tr>

                    <th scope="row">{{order.id}}</th>
                    <th>{{order.product}}</th>
                    <th>{{order.quantity}}개</th>
                    <th>{{order.price}}원</th>
                    <th>{{order.created|date:'Y-m-d H:i'}}</th>
                    <th>{{order.order.nick_name}}</th>
                    <th>0{{order.order.phone}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>