<!doctype HTML>
{% load static %}

<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	<link rel="stylesheet" href="{%static 'css/login.css' %}">
	<script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>

</head>

<body>
<center>

<p style="font-size: 50px; font-weight: bold; color: indianred; text-shadow: 1px 1px 1.2px midnightblue;">KY COMPANY</p>
	<br>
	</center>
	<div class="main-container">
		<div class="main-wrap">
		<header>
				<CENTER><img src="{%static 'images/logo1.png' %}" width=250 height=250 ></CENTER>
		</header>
			<br>
			<br>
			<div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">

			<center>
				<div class = "login-button-wrap">
				<button onclick="location.href='/login';" style='cursor:pointer;'>로그인 하러 가기</button>
			</div>
			<div class = "login-button-wrap">
				<button onclick="location.href='/signup';" style='cursor:pointer;'>회원가입</button>
			</div>
				<br>
				</center>
			<br>
			<br>
			<center>
                    {% if messages %}
                        <ul class="messages" style="width:300px;height:50x;font-size:30px;color:Purple;">
                    {% for message in messages %}
                        <li {% if message.tags %}
                        class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                        </ul>
                    {% endif %}
			</center>
<br>
			<br>
			<br>
			<br>
			<br>
			<br>

<footer>
	<div class="copyright-wrap">
		<span>	Copyright © KYcompany All Rights Reserved.</span>
	</div>
</footer>
		</div>
	</div>
</body>