
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="span3">
    <h2>비밀번호 변경</h2>
    <form method="POST">
        {% csrf_token %}
        <div>
            <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
            <label for="id_old_password">기존 비밀번호</label>
        </div>
        <div>
            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
            <label for="id_new_password1">새 비밀번호</label>
        </div>
        <div>
            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
            <label for="id_new_password2">새 비밀번호 확인</label>
        </div>
        <div>
        <button type="submit" onclick="location.href='http://127.0.0.1:8000/profile';">뒤로</button>
        </div>
        </br>
        <div>
        <button id="submitButton" type="submit" class="btn btn-primary pull-right">비밀번호 변경</button>
        <div>
            {% if messages %}
                <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %}
                class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
                </ul>
            {% endif %}
        </div>
        </div>
    </form>
</div>