<!doctype HTML>
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="{%static 'css/login.css' %}">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>

</head>
<a href="#content" onclick="location.href='/';"
   style='cursor:pointer; font-size: 10px; font-weight: bold; color: indianred; text-shadow: 1px 1px 1.2px yellow;'><span><h1>처음화면으로 돌아가기</h1></span></a>
<body>
<div class="main-container">
    <div class="main-wrap">
        <header>
            <CENTER><img src="{%static 'images/logo1.png' %}" width=250 height=250></CENTER>
        </header>
        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">

                <center>
                    <form method="post">
                        {% csrf_token %}
                        <!-- ID input-->
                        <div class="login-input-wrap">
                            <input name="username" class="form-control" id="id" type="text" placeholder="아이디 입력"
                                   data-sb-validations="required"/>
                        </div>
                        <!-- Password input-->
                        <div class="login-input-wrap password-wrap">
                            <input name="password" class="form-control" id="password" type="password"
                                   placeholder="비밀번호입력" data-sb-validations="required,email"/>
                        </div>
                        <!-- Submit Button-->
                        <div class="login-button-wrap">
                            <button id="submitButton" type="submit" class="btn btn-primary pull-right"
                                    style='cursor:pointer;'>로그인
                            </button>
                            <br>
                            <br>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li {% if message.tags %}
                                    class="{{ message.tags }}" {% endif %}>{{ message }}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </form>
                </center>
                <center><h2>간편 로그인</h2>
                    <br>
                    <a href="/kakao"><img src="{%static 'images/kakao_login.png'%}"
                                          style="width:150px;height:50x;"/></a>
                    <a href="/naver"><img src="{%static 'images/naver_login.png'%}"
                                          style="width:150px;height:50x;"/></a>
                </center>

                <footer>
                    <div class="copyright-wrap">
                        <span>	<img src="img/logo.png"> Copyright © KYcompany All Rights Reserved.</span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>