<!doctype HTML>
{% load static %}
<head>
    <br>
    <a href="#content" onclick="location.href='/m_base';"
       style='cursor:pointer; font-size: 10px; font-weight: bold; color: indianred; text-shadow: 1px 1px 1.2px yellow;'>
        <span><h1>처음화면으로 돌아가기</h1></span></a>
    <br>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <center>
        <h2 class="blind"><h1>회원가입</h1></h2>
    </center>
    <br>
    <link rel="stylesheet" href="{%static 'css/login.css' %}">
    <script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>

</head>


<center>
    <body>
    <div class="main-container">
        <div class="main-wrap">
            <header>
                <CENTER><img src="{%static 'images/logo1.png' %}" width=250 height=250></CENTER>
            </header>
            <br>
            <br>
            <!-- Icon Divider-->
            <!-- Contact Section Form-->
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <!--        아이디입력-->
        <div class="join_row">
            <h3 class="join_title"><h2>아이디</h2></h3>
            <input type="text" name="username" value="" maxlength="16" required="" PLACEHOLDER="아이디를 입력해주세요"
                   fld_esssential="" option="regId" label="아이디"
                   style="width:300px;height:50x;font-size:20px;" autofocus>
        </div>


        <!-- 비밀번호 입력-->
        <div class="join_row">
            <h3 class="join_title"><h2>비밀번호</h2></h3>
            <span class="ps_box int_pass" id="pswd1Img"></span>
            <input type="password" name="password1" required="" fld_esssential=""
                   option="regPass" label="비밀번호" maxlength="16" class="reg_pw"
                   placeholder="비밀번호를 입력해주세요"
                   style="width:300px;height:50x;font-size:20px;" data-sb-validations="required,email">
            <p class="txt_guide square">
            <h5><span class="txt txt_case2">영문/숫자/ 포함 8자 이상</span></h5>
            </p>
            <h3 class="join_title"><h2>비밀번호 재확인</h2></h3>
            <input type="password" name="password2" required="" fld_esssential=""
                   option="regPass" label="비밀번호" maxlength="16" class="confirm_pw"
                   placeholder="비밀번호를 한번 더 입력해주세요"
                   style="width:300px;height:50x;font-size:20px;" data-sb-validations="required">
            <p class="txt_guide square">
                <span class="txt txt_case1">동일한 비밀번호를 입력해주세요.</span>
            </p>
        </div>

        <!--        출생 연도 입력-->
        <div class="join_row join_birthday">
            <h3 class="join_title"><h2>출생 연도</h2></h3>
            <div class="birth_day">
                <input type="text" name="birth_year" id="birth_year" pattern="[0-9]*"
                       value="" label="생년월일" size="4" maxlength="4" placeholder="yyyy"
                       style="width:50px;height:50x;font-size:20px;">
                <span class="bar"></span>
            </div>
        </div>

        <!--        성별입력-->
        <div class="join_row join_sex">
            <h3 class="join_title"><h2>성별</h2></h3>
            <div class="ps_box gender_code">
                <select name="u_sex" aria-label="성별" style="width:100px;height:30px;font-size:20px;">
                    <option value="" selected="">성별</option>
                    <option value="M">남자</option>
                    <option value="F">여자</option>
                    <option value="U">선택 안함</option>
                </select>
            </div>
        </div>
        <!--        닉네임입력-->
        <div class="join_row">
            <h3 class="join_title"><h2>닉네임</h2></h3>
            <input type="text" name="u_nickname" value="" maxlength="16" required="" PLACEHOLDER="닉네임을 입력해주세요"
                   style="width:300px;height:50x;font-size:20px;">
        </div>
        <!--        이메일 입력-->
        <div class="join_row">
            <h3 class="join_title"><h2>이메일</h2></h3>
            <input type="text" name="email" value="" data-email="" size="30" required=""
                   fld_esssential="" option="regEmail" label="이메일"
                   placeholder="예: kycompany@google.com"
                   style="width:300px;height:30px;font-size:20px;">
        </div>
        <br>
        <div class="join_row">
            <h3 class="join_title"><h2>체크해주세요</h2></h3>
            <input type="checkbox" name="login_method" value="C" style="zoom:3.0;">
        </div>
        <div class="join_row">
            <h3 class="join_title"><h2>관리자 회원은 체크해 주세요! </h2></h3>
            <input type="checkbox" name="is_manager" value="True" style="zoom:3.0;">
        </div>
        <div class="join_row">
            <h3 class="join_title"><h2>마스터 회원은 체크해 주세요! </h2></h3>
            <input type="checkbox" name="is_master" value="True" style="zoom:3.0;">
        </div>
        <br>
        <br>
        <div class="join_row">
            <h3 class="join_title"><h2>매니저,마스터 가입용 시크릿 코드를 입력해 주세요 </h2></h3>
            <input type="password" name="token" style="width:300px;height:30px;">
        </div>
        <br>
        <br>
        <!-- Submit Button-->
        <button id="submitButton" type="submit" class="btn btn-primary pull-right"
                style="width:200px;height:60x;font-size:40px;color:Orange;">회원가입
        </button>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %}
                class="{{ message.tags }}" {% endif %}>{{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </form>
    </div>
    </div>
    </div>
    <footer>
        <div class="copyright-wrap">
            <span> Copyright © KYcompany All Rights Reserved.</span>
        </div>
    </footer>
    </div>
    </body>
</center>
</body>
</center>