<!doctype HTML>
{% load static %}
<head>
	<a href="#content" onclick="location.href='http://127.0.0.1:8000';" style='cursor:pointer;'><span><h1>로그인화면으로 돌아가기</h1></span></a>
	<meta charset="UTF-8">
	<title>회원가입</title>
	<center><h2 class="blind"><h1>회원가입</h1></h2></center>
	<br>
	<link rel="stylesheet" href="{%static 'css/login.css' %}">
	<script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>
</head>
<center><body>
	<div class="main-container">
		<div class="main-wrap">
		<header>
				<CENTER><img src="{%static 'images/logo1.png' %}" width=250 height=250 ></CENTER>
		</header>
            <form method="post">
                {% csrf_token %}
<div id="container" role="main">
        <div id="content">
            <div class="join_content">
                <!-- 아이디, 비밀번호 입력 -->
                <div class="row_group">
                    <div class="join_row">
                        <h3 class="join_title"><label for="id"><h2>아이디</h2></label></h3>
                        <span class="ps_box int_id">
							<input type="text" id="id" name="id" class="int" title="ID" maxlength="20" style="width:300px;height:50x;font-size:30px;">
                            </span>
                        <span class="error_next_box" id="idMsg" style="display:none" aria-live="assertive"></span>
                    </div>

                    <div class="join_row">
                        <h3 class="join_title"><label for="pswd1"><h2>비밀번호</h2></label></h3>
                        <span class="ps_box int_pass" id="pswd1Img">
							<input type="password" id="pswd1" name="pswd1" class="int" title="비밀번호 입력" aria-describedby="pswd1Msg" maxlength="20" style="width:300px;height:50x;font-size:30px;">
                            <span class="lbl"><span id="pswd1Span" class="step_txt"></span></span>
						</span>
                        <span class="error_next_box" id="pswd1Msg" style="display:none" aria-live="assertive">5~12자의 영문 소문자, 숫자와 특수기호(_)만 사용 가능합니다.</span>
						<br>
						<br>
						설정하려는 비밀번호가 맞는지 확인하기 위해 다시 입력 해주세요.
						<br>
                        <br>
						<h3 class="join_title"><label for="pswd2"><h2>비밀번호 재확인</h2></label></h3>
                        <span class="ps_box int_pass_check" id="pswd2Img">
							<input type="password" id="pswd2" name="pswd2" class="int" title="비밀번호 재확인 입력" aria-describedby="pswd2Blind" maxlength="20" style="width:300px;height:50x;font-size:30px;">
							<span id="pswd2Blind" class="wa_blind"></span>
						</span>
						<br>
						<br>
                        <span class="error_next_box" id="pswd2Msg" style="display:none" aria-live="assertive"></span>
                    </div>
                </div>
                <!-- // 아이디, 비밀번호 입력 -->

                <!-- 이름, 생년월일 입력 -->
                <div class="row_group">

                    <!-- lang = ko_KR -->
                    <div class="join_row">
                        <h3 class="join_title"><label for="name"><h2>닉네임</h2></label></h3>
                        <span class="ps_box box_right_space">
							<input type="text" id="name" name="name" title="이름" class="int" maxlength="40" style="width:300px;height:50x;font-size:30px;">
						</span>
                        <span class="error_next_box" id="nameMsg" style="display:none" aria-live="assertive"></span>
                    </div>
                    <!-- lang = ko_KR -->
					<br>



                    <div class="join_row join_birthday" >
                        <h3 class="join_title"><label for="yy"><h2>생년월일</h2></label></h3>
						<br>
                        <div class="bir_wrap" >
                            <div class="bir_yy">
								<span class="ps_box">
									<input type="text" id="yy" placeholder="년(4자)" aria-label="년(4자)" class="int" maxlength="4" style="width:120px;height:50x;font-size:30px;">
								</span>
                            </div>
							<br>
                            <div class="bir_mm">
								<span class="ps_box">
									<select id="mm" class="sel" aria-label="월" style="width:100px;height:40px;font-size:30px;">
										<option value="">월</option>
										  	 			<option value="01">
                                                            1
                                                        </option>
										  	 			<option value="02">
                                                            2
                                                        </option>
										  	 			<option value="03">
                                                            3
                                                        </option>
										  	 			<option value="04">
                                                            4
                                                        </option>
										  	 			<option value="05">
                                                            5
                                                        </option>
										  	 			<option value="06">
                                                            6
                                                        </option>
										  	 			<option value="07">
                                                            7
                                                        </option>
										  	 			<option value="08">
                                                            8
                                                        </option>
										  	 			<option value="09">
                                                            9
                                                        </option>
										  	 			<option value="10">
                                                            10
                                                        </option>
										  	 			<option value="11">
                                                            11
                                                        </option>
										  	 			<option value="12">
                                                            12
                                                        </option>
									</select>
								</span>
                            </div>
							<br>
                            <div class=" bir_dd">
								<span class="ps_box">
									<input type="text" id="dd" placeholder="일" aria-label="일" class="int" maxlength="2" style="width:50px;height:50x;font-size:30px;">
									<label for="dd" class="lbl"></label>
								</span>
                            </div>
                        </div>
                        <span class="error_next_box" id="birthdayMsg" style="display:none" aria-live="assertive"></span>
                    </div>
					<br>
                    <div class="join_row join_sex">
                        <h3 class="join_title"><label for="gender"><h2>성별</h2></label></h3>
                        <div class="ps_box gender_code">
                            <select id="gender" name="gender" class="sel" aria-label="성별" style="width:100px;height:30px;font-size:20px;">
                                <option value="" selected="">성별</option>
                                        <option value="M">남자</option>
                                        <option value="F">여자</option>
                                        <option value="U">선택 안함</option>
                            </select>
                        </div>
                    </div>
                    <span class="error_next_box" id="genderMsg" style="display:none" aria-live="assertive"></span>


                    <span class="error_next_box" id="emailMsg" style="display:none" aria-live="assertive"></span>
                </div>
                <!-- // 이름, 생년월일 입력 -->
				<br>
				<br>
				<br>

                <div class="btn_area">
                    <button type="submit" style="width:300px;height:50x;font-size:50px;">가입하기</button>
                </div>
            </div>
        </div>
    </div>
</form>
		</section>
		<section class="Easy-sgin-in-wrap">
			<br>
			<br>
			<br>
		</section>
		<footer>
			<div class="copyright-wrap">
			<span>	<img src="img/logo.png"> Copyright © KYcompany All Rights Reserved.</span>
			</div>
		</footer>
		</div>
	</div>
</body></center>